.table-container {
    max-height: 33rem;
    overflow-y: scroll;
    width: -webkit-fill-available;
}

thead {
    position: sticky;
    top: 0;
    background: #edd1d1;
    height: 3rem;
}

thead tr th {
    width: 15rem;
}

td {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.link {
    padding: 2rem;
}