.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    height: 200px;
    overflow-y: scroll;
}

thead {
    position: sticky;
    top: 0;
    background: #edd1d1;

}

thead tr th {
    width: 15rem;
}

td {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.link {
    padding: 2rem;
}